.heading {
  .heading-heading {
    h1 {
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 1;
      font-weight: 700;
      font-family: $font-family-heading;
      color: var(--color-text-primary);
      @include media-breakpoint-up(md) {
        font-size: 86px;
        line-height: 1;
        width: 80%;
        letter-spacing: -2px;
      }
      strong {
        font-style: normal;
        text-decoration-line: underline;
        // This color controls the underline on the main landing page
        text-decoration-color: var(--color-accent-lavender);
      }
    }
  }
  .heading-description {
    width: 90%;
    p {
      font-size: 22px;
      letter-spacing: -1px;
      line-height: 1.24;
      font-family: $font-family-base;
      color: var(--color-text-secondary);
      @include media-breakpoint-up(md) {
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 1.4;
      }
    }
  }
  .heading-heading + .heading-description {
    margin-top: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }
  }
  .heading-badge {
    font-family: $font-family-monospace;
    color: var(--color-text-primary);
  }
  .heading-image {
    margin-top: 30px;
    img {
      max-width: 100%;
    }
  }

  // the change image on hover w cursor affect, iroje inspired
  .hover-effect {
    position: relative;
    width: 250px; //here use fixed max val for image widths (this makes the dim of hover effect images similar to the default heading-image, no clue where the default heading-image is defined but 250 pixels is close enough...)
  }
  
  .hover-effect img {
    height: auto;
    display: block;
  }
  
  .hover-effect .focus-image {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: visibility 0.1s linear;
  }
  
  .hover-effect:hover .focus-image {
    visibility: visible;
  }
  
  .hover-effect .base-image {
    visibility: visible;
  }
}
