<div id="header" class="header-vertical">
  <div class="header-content">
    <!-- Page title on the left for desktop -->
    <div class="header-title">
      {% if page.description and page.use_description_as_title %}
        <h1 class="page-title">{{ page.description }}</h1>
      {% elsif page.title %}
        <h1 class="page-title">{{ page.title }}</h1>
      {% endif %}
    </div>

    
    <!-- Logo and vertical navigation on the right -->
    <div class="header-nav">
      <!-- Logo at top of menu list -->
      {% include framework/global/header/logo.html %}
      <!-- The actual title bar/menu for navigation -->
      {% include framework/global/menu/menu-main-vertical.html %}
    </div>
  </div>
</div>
