<div class="progetto-viz progetto-viz--clock" aria-hidden="true">
  <img class="viz-clock-shot viz-clock-shot--light" src="/assets/images/project-clock-light.png" alt="">
  <img class="viz-clock-shot viz-clock-shot--dark" src="/assets/images/project-clock-dark.png" alt="">
  <svg class="viz-clock-moon" viewBox="-50 -50 100 100" focusable="false">
    <circle class="viz-clock-moon-outline" cx="0" cy="0" r="40" fill="none" stroke-width="3" />
    <path class="viz-clock-moon-lit" d="M0 -40 A40 40 0 0 1 0 40 A0.01 40 0 0 0 0 -40 Z" stroke-width="1.6" />
  </svg>
</div>
